actuar
anytime
askpass
backports
base
base64enc
BH
bit
bit64
blob
boot
brew
brio
broom
bslib
cachem
callr
cellranger
class
cli
clipr
cluster
codetools
collections
colorspace
commonmark
compiler
conflicted
cpp11
crayon
credentials
crosstalk
curl
cyclocomp
data.table
datasets
DBI
dbplyr
desc
devtools
diffobj
digest
distillery
downlit
dplyr
DT
dtplyr
ellipsis
evaluate
evd
evir
evmix
expint
extRemes
fansi
farver
fastmap
fitdistrplus
fontawesome
forcats
forecast
foreign
fracdiff
fresh
fs
gargle
generics
gert
ggplot2
gh
gitcreds
glue
googledrive
googlesheets4
GPArotation
graphics
grDevices
grid
gridExtra
gsl
gtable
haven
highr
hms
htmltools
htmlwidgets
httpuv
httr
httr2
ids
ini
IRdisplay
IRkernel
ismev
isoband
jquerylib
jsonlite
KernSmooth
knitr
KrakenR
labeling
languageserver
later
lattice
lazyeval
lifecycle
lintr
Lmoments
lmtest
lubridate
magrittr
MASS
Matrix
memoise
methods
mgcv
mime
miniUI
mnormt
modelr
munsell
nlme
nnet
openssl
parallel
pbdZMQ
pillar
pkgbuild
pkgconfig
pkgdown
pkgload
plotly
POT
praise
prettyunits
processx
profvis
progress
promises
ps
psych
purrr
quadprog
quantmod
R.cache
R.methodsS3
R.oo
R.utils
R6
ragg
rappdirs
rcmdcheck
RColorBrewer
Rcpp
RcppArmadillo
reactable
reactR
readr
readxl
rematch
rematch2
remotes
repr
reprex
rex
rlang
rmarkdown
roxygen2
rpart
rprojroot
rstudioapi
rversions
rvest
sandwich
sass
scales
selectr
sessioninfo
shiny
shinydashboard
shinyjs
sourcetools
SparseM
spatial
splines
stats
stats4
stringi
stringr
strucchange
styler
survival
sys
systemfonts
tcltk
testthat
textshaping
tibble
tidyr
tidyselect
tidyverse
timechange
timeDate
tinytex
tools
tseries
TTR
tzdb
urca
urlchecker
usethis
utf8
utils
uuid
vars
vctrs
viridisLite
vroom
waldo
whisker
withr
xfun
xml2
xmlparsedata
xopen
xtable
xts
yaml
zip
zoo
